*, *::before, *::after {
    padding:0;
    margin:0;
    box-sizing:inherit;
}

html {
    font-size:62.5%;
    font-family:"Open Sans", sans-serif;
}

body {
    box-sizing:border-box;
    min-height:100vh;
}

.container {
    max-width:900px;
    margin:5vh auto 0;
}

/* spacing */
section:not(:last-child) {margin-bottom:4rem;}
:is(h1, h2, h3, p):not(:last-child) {margin-bottom:2.5rem;}

/* text */
h1 {font-size:4rem;}
h2 {font-size:2.5rem; border-bottom:1px solid #dee2e6; padding-bottom:10px;}
p {font-size:1.8rem;}

/* CSS here */