*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-family: "Gabarito", sans-serif;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  font-size: 16px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* spacing */
:is(h1, h2, h3, p):not(:last-child) {
  margin-bottom: 0.9rem;
}

/* text */
h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

/* CSS here */
section {
  min-height: 100vh;
  position: relative;
}

section:first-child {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  // image
  .image {
    display: inline-block;
    margin-bottom: .5rem;
    max-width: 100px;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

// button
button {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  gap: 4px;

  border: none;
  background: white;

  font-size: 14px;
  padding: 4px 6px;
  border-radius: 5px;

  transition: all .1s ease;

  &.show {
    background: #1864ab;
    color: #fff;
  }
}

a {
  text-decoration: none;
  position: relative;
  display: inline-flex;
  transition: all .3s ease-in;

  &:hover,
  &:focus {
    color: #1864ab;
  }

  span.fade-in {
    position: absolute;
    top: 50%;
    left: calc(100% + 10px);

    transform: translateY(-50%);
    white-space: nowrap;
    overflow: hidden;

    span {
      display: block;
      transition: all .3s ease-in-out;
    }

    span.absolute {
      position: absolute;
      bottom: 100%;
      left: 0;
      opacity: 0;
    }

    &:hover {
      span.relative {
        transform: translateY(100%);
        opacity: 0;
      }

      span.absolute {
        opacity: 1;
        transform: translateY(100%)
      }
    }
  }
}

.mouse {
  --mouse-color: #1864ab;
  --mouse-color-light: #a5d8ff;

  display: block;
  width: 28px;
  min-height: 42px;

  border-radius: 20px;
  border: 1px solid var(--mouse-color);
  position: relative;

  &:before,
  &:after {
    content: '';

    position: absolute;
    left: 50%;
    top: 8px;
    transform: translateX(-50%);
    border-radius: 2px;

    width: 4px;
    height: 12px;
    background: var(--mouse-color-light);
  }

  &:after {
    height: 6px;
    background: var(--mouse-color);

    animation: scrollDown 1s ease infinite alternate-reverse;
  }
}

@keyframes scrollDown {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, 6px);
  }
}

.sticky {
  position: sticky;
  top: 0;
  min-height: 100vh;
}

section {
  .sticky .container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// section 2
section:nth-child(2) {
  min-height: 100vh;
  padding-top: 0vh;

  .background {
    background: #74c0fc;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    transform: scaleX(var(--progress, 1));
  }

  .sticky {

    .image {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%) scale(calc(1 - (1 - var(--progress, 0)))) rotate(calc(var(--progress) * 360deg));
      opacity: var(--progress);
    }
  }
}

// section 3
section:nth-child(3) {
  background: #ffa94d;
  height: 200vh;

  .wrapper {
    position: sticky;
    top: 0;
    height: 100vh;
  }

  .image {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;

    aspect-ratio: 3/2;
    border-radius: 20px;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;

      object-position: 0% calc(var(--progress, 0) * 100%);
    }
  }
}

// section 4
section:nth-child(4) {
  min-height: 200vh;
  background: rgba(242, 183, 5, 0.3);

  // svg
  .letter {
    stroke-dasharray: var(--length, 0);
    stroke-dashoffset: calc(var(--length, 0) * (1 - var(--progress, 0)));
  }
}

// section 5
section:nth-child(5) {
  min-height: 200vh;
  background: #a5d8ff;

  .image {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 3/2;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}